.ion-color-green {
  --ion-color-base: #2dd36f;
  --ion-color-base-rgb: 45, 211, 111;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #28ba62;
  --ion-color-tint: #42d77d;
}
